/* ---------------------------------------------------------
    RESET 
    From: https://andy-bell.co.uk/a-more-modern-css-reset/
    (I added margin: 0 and padding: 0 to *)
----------------------------------------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* ---------------------------------------------------------
    BASE
----------------------------------------------------------- */

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Fraunces;
    src: url(./fonts/Fraunces_9pt-Bold.ttf);
    font-weight: 700;
}

:root {
    /* color variables */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    position: relative;
    background: var(--cream);
    font-family: Montserrat, sans-serif;
}

main {
    min-height: 100vh;
}

main,
button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

/* Add accessibility to th 's' tag */

s::before,
s::after {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    border: 0;
}

s::before {
  content: " [strike-through start] ";
}

s::after {
  content: " [strike-through end] ";
}

/* ---------------------------------------------------------
    COMPONENTS
----------------------------------------------------------- */

/* Product card */

.product {
    width: 90%;
    max-width: 25rem;
    margin: 4rem 0;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .1);
}

.product-details {
    padding: 1.5rem;
}

.product-details__category,
.product-details__text {
    color: var(--dark-grayish-blue);
}

.product-details__title,
.product-details__price span {
    font-family: Fraunces;
}

.product-details__category {
    font-size: .75rem;
    letter-spacing: .4em;
    text-transform: uppercase;
}

.product-details__title {
    margin: .75rem 0 1rem;

    font-size: 2rem;
    line-height: 1;
    color: var(--very-dark-blue);
}

.product-details__text {
    font-size: .875rem;
    line-height: 1.6;
}

.product-details__price {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.product-details__price span {
    font-size: 2rem;
    color: var(--dark-cyan);
}

.product-details__price s {
    font-size: .8rem;
    color: var(--dark-grayish-blue);
}

.product-details__button {
    width: 100%;
    height: 3rem;
    gap: .5rem;
    border-radius: .5rem;
    background-color: var(--dark-cyan);

    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .05em;
    color: var(--white);
}

.product-details__button:hover {
    background-color: #184131;
}

.product-details__button:active {
    background-color: #102b20;
}

@media (min-width: 960px) {

    .product,
    .product-details { display: flex; }

    .product {
        max-width: 37.5rem;
        flex-flow: row wrap;
    }

    .product-img,
    .product-details { width: 50%; }

    .product-details {
        flex-flow: column wrap;
        justify-content: space-between;
    }

    .product-details {
        padding: 2rem;
    }

}


/* Footer */

.attribution { 
    padding: 1rem 0;
    font-size: .75rem; 
    text-align: center;
    color: var(--very-dark-blue);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}